.create-tab {
  cursor: pointer !important;
}

.select-tab {
  cursor: pointer !important;

  &:hover {
    i {
      padding-left: 4px;
      display: initial !important;
    }
  }
}

.tab-icon {
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

