.dialog-designer-container
  background-color: $color-white
  height: 100%
  width: 100%

  .section-toolbar
    padding: 15px

    a
      color: $color-mine-shaft-approx

    button
      margin-right: 6px

    .more-actions
      border-left: solid 2px $color-light-gray-approx
      margin-left: 6px
      vertical-align: middle

    .dialog-details-btn
      margin-left: 16px

    .pficon
      font-size: 20px
      margin-left: 15px
      margin-top: -4px
      vertical-align: middle

    .preview-dialog
      display: block
      float: right
      font-size: 12px
      font-weight: 600
      padding-right: 5px
      padding-top: 2px
      vertical-align: middle

    .preview-dialog-label
      vertical-align: text-bottom

  .toolbox-container
    height: 100%
    position: relative
    width: 100%

    .editable-fields-container
      padding-top: 10px
      padding-left: 120px
      width: 80%

    .editable-fields-container-alone
      padding-top: 10px
      padding-left: 16px
      width: 80%

    a
      color: $color-black

    ::-webkit-input-placeholder
      font-style: italic
      padding-left: 10px

    :-moz-placeholder
      font-style: italic
      padding-left: 10px

    ::-moz-placeholder
      font-style: italic
      padding-left: 10px

    :-ms-input-placeholder
      font-style: italic
      padding-left: 10px
