<ol class="breadcrumb toolbar">
  <li>{{'Designer'|translate}}</li>
  <li>
    <a ui-sref="designer.dialogs">{{'Dialogs'|translate}}</a>
  </li>
  <li class="active">
    <input id="dialogLabel" type="text" ng-model="vm.dialog.content[0].label"
           placeholder="{{'Untitled Dialog'|translate}}">
  </li>
  <span class="actions">
    <button class="btn btn-primary btb-sm" type="button" ng-click="vm.saveDialogDetails()" id="saveBtm"
            ng-disabled="vm.dialogUnchanged()"
            uib-tooltip="{{'Save Dialog'|translate}}" tooltip-placement="bottom"
            translate>Save
    </button>
     <button class="btn btn-default" type="button" ng-click="vm.editDialogDetails()"
             tooltip-placement="bottom" uib-tooltip="{{'Edit Dialog Details' | translate}}"
             translate>Dialog Details
     </button>
  </span>
</ol>

<div class="dialog-designer-container">

  <div class="section-toolbar">
    <button id="toggleToolbox" class="btn btn-primary" type="button" ng-click="vm.toggleToolbox()"
            tooltip-placement="bottom" uib-tooltip="{{'Add Dialog Field Item'|translate}}" translate>Add
      <span class="fa" ng-class="{'fa-angle-double-up': vm.toolboxVisible, 'fa-angle-double-down': !vm.toolboxVisible}"></span>
    </button>
    <span class="more-actions">
        <a ng-click="vm.duplicateSelectedItem()">
          <span id="duplicateItem" class="pficon fa fa-copy" ng-class="{'disabled': !vm.isContentSelected()}"
                tooltip-append-to-body="true" tooltip-placement="bottom"
                uib-tooltip="{{'Duplicate Item (Ctrl-D)'|translate}}">
          </span>
        </a>
        <a ng-click="vm.removeSelectedItem()">
          <span id="removeItems" class="pficon pficon-delete" ng-class="{'disabled': !vm.isContentSelected()}"
                tooltip-append-to-body="true" tooltip-placement="bottom"
                uib-tooltip="{{'Remove Items'|translate}}">
          </span>
        </a>
        <span class="preview-dialog">
            <input  ng-model="vm.hideConnectors"
                    ng-change="vm.toggleshowHideConnectors()"
                    type="checkbox"
                    ng-checked="vm.hideConnectors">
            <span class="preview-dialog-label" translate>Preview Dialog</span>
        </span>
    </span>
  </div>

  <div class="toolbox-container">

    <div class="static-field-container" id="toolbox" ng-if="vm.toolboxVisible">
      <div class='draggable'>
        <dialog-editor-field-static></dialog-editor-field-static>
      </div>
    </div>

    <div ng-class="{'editable-fields-container': vm.toolboxVisible, 'editable-fields-container-alone': !vm.toolboxVisible}" class="ss-details-wrapper">
      <dialog-editor-tabs></dialog-editor-tabs>
      <dialog-editor-boxes></dialog-editor-boxes>
    </div>
  </div>
</div>
