<ol class="breadcrumb toolbar">
  <li>{{'Designer'|translate}}</li>
  <li>
    <a ui-sref="designer.dialogs">{{'Dialogs'|translate}}</a>
  </li>
  <li class="active">
    <input id="dialogLabel" type="text" class="blueprint-name-input" ng-model="vm.dialog.content[0].label"
           placeholder="{{'Untitled Dialog'|translate}}">
  </li>
  <span class="actions">
    <button class="btn btn-primary btb-sm" type="button" ng-click="vm.saveDialogDetails()" id="saveBtm"
            ng-disabled="vm.dialogUnchanged()"
            uib-tooltip="{{'Save Dialog'|translate}}" tooltip-placement="bottom"
            translate>Save
    </button>
     <button class="btn btn-default" type="button" ng-click="vm.editDialogDetails()"
             tooltip-placement="bottom" uib-tooltip="{{'Edit Dialog Details' | translate}}"
             translate>Dialog Details
     </button>
  </span>
</ol>

<div class="col-md-12 ss-details-wrapper">
  <div class="row">
    <div class="col-md-6">
      <h2 translate>Dialog Content</h2>
      <dialog-editor-tabs></dialog-editor-tabs>
      <dialog-editor-boxes></dialog-editor-boxes>
    </div>
    <div class="col-md-6">
      <h2 translate>Toolbox</h2>
      <div class='draggable'>
        <dialog-editor-field-static></dialog-editor-field-static>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-default" ng-click="vm.dismissChanges()" translate>Cancel</button>
    <button type="button"
            class="btn btn-primary"
            ng-click="vm.saveDialogDetails()"
            ng-disabled="vm.dialogUnchanged()" translate>Save
    </button>
  </div>
</div>
